
[submodule "UDACITY COURSE/Practica 4/andfun-kotlin-android-trivia"]
	path = UDACITY COURSE/Practica 4/andfun-kotlin-android-trivia
	url = https://github.com/Gabysanchezl/andfun-kotlin-android-trivia.git
